.navBar {
    top: 1%;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(169, 255, 174), rgba(145, 240, 150, 0.612));
    width: 98%;
    position: fixed;
    z-index: 1000;
}

.navLink {
    padding: 0 8px;
    font-weight: 700;
    color: black;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(rgb(145, 240, 150),rgb(169, 255, 174));
    border: none;
    border-radius: 5px;
    text-decoration: none;
    z-index: 1000;
}
.navLink:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
}

.title {
    margin: 10px;
    font-size: 35px;
}

.mobileTitle{
    display: none;
}

.optionsDiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionsImg{
    margin: 5px;
    width: 30px;
    height: 30px;
}

.optionsImg:hover{
    cursor: pointer;
    transform:  rotate(360deg);
    transition: .7s;
}

.showOptions{
    position: absolute;
    border-radius: 5px;
    top: 48px;
    background-color: rgb(145, 240, 150);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    animation: optionsAppear 1s ease-in-out;
}

@keyframes optionsAppear {
    0%{
        height: 0%;
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        height: 200px;
        opacity: 1;

    }
}

.showOptions::before{
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgba(145, 240, 150);
    border-right: 10px solid transparent;
    border-top: 0 solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -9px;
    right: calc(50% - 10px);
}

.showOptions a{
    font-size: medium;
    padding: 0 10px;
    color: black;
    margin: 0;
    font-weight: 800;
    letter-spacing: 1px;
}

.showOptions div:hover{
    cursor: pointer;
    transform: translateX(20px);
}

.burgerButton{
    display: flex;
    justify-content: center;
}

.showOptions div{
    gap: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: .5s;
    animation: divAppear 1s;
}

@keyframes divAppear {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.showOptions div:hover{
    cursor: pointer;
}

.showOptions img{
    width: 16px;
}

/* IMPLEMENTACION DE MEDIA QUERIES */

@media (max-width: 1150px) {

    .navBar {
        justify-content: space-evenly;
    }

    .showOptions{
        width: 150px;
    }

}

@media (max-width: 850px) {

    .showOptions{
        right: -75%;
    }

    .showOptions::before{
        right: calc(25% - 10px);
    }

}

@media (max-width: 700px) {

    .viewsContainer{
        position: relative;
        display: flex;
        justify-content: center;
    }

    .navDiv{
        margin: 0;
        position: absolute;
        border-radius: 10px;
        top: 58px;
        background:linear-gradient(rgb(128, 0, 128),rgb(71, 6, 71));
        width: 180px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        padding: 10px 0;
        animation: viewsDisappear 1s ease-in-out;
    }

    @keyframes viewsDisappear {
        0%{
            height: 90px;
            opacity: 1;
        }
        55%{
            opacity: 0;
        }
        100%{
            height: 0px;
            opacity: 0;
        }
    }

    .navDiv::before{
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-bottom: 10px solid rgb(128, 0, 128);
        border-right: 10px solid transparent;
        border-top: 0 solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -9px;
        right: calc(50% - 10px);
    }

    .navLink {
        font-size: small;
    }
    
}

@media (min-width: 701px) {

    .burgerButton{

        display: none;
    }  

}

@media (max-width: 500px) {

    .navBar{
        justify-content: center;
        gap: 15px;
    }

    .mobileTitle{
        display:block;
        margin: 10px;
        font-size: 35px;
    }

    .title{
        display: none;
    }
}

@media (max-width: 350px){

    .navDiv{
        width: 120px;
    }

    .mobileTitle{
        display:block;
        margin: 10px;
        font-size: 25px;
    }
}

@media (max-width: 270px) {

    .mobileTitle{
        display:block;
        margin: 10px;
        font-size: 20px;
    }

    .navBar{
        width: 90%;
        justify-content: center;
        gap: 0;
    }

    .optionsImg{
        width: 25px;
        height: 25px;
    }
    
}
