.entrancePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.h1{
    padding: 0;
    color: rgb(169, 255, 174);
    border-radius: 5px;
    letter-spacing: 3px;
    font-size: 40px;
    z-index: 1;
}

.onlyForms{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 0;
}
