.entrancePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

.h1{
    color: rgb(169, 255, 174);
    letter-spacing: 3px;
    font-size: 80px;
    z-index: 1;
}

.onlyForms{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 0;
}

@media (max-width: 1200px) {

    .entrancePage {
        margin-top: 30px;
    }

}

@media (max-width: 1000px) {

    .entrancePage {
        margin-top: 10px;
    }

}

@media (max-width: 550px) {

    .h1{
        font-size: 60px;
    }

}

@media (min-width: 2000px) {

    .h1{
        letter-spacing: 10px;
        font-size: 80px;
    }    
}