.myFavsPage{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.favFilters{
    margin-bottom: 40px;
    width: 80%;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.selectBox{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectGender,
.selectId{
    padding: 10px 15px;
    color: black;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    border-radius: 100%;
    transition: .5s;
    background: linear-gradient(rgb(80, 168, 84),rgb(169, 255, 174));
}

.selectGender:hover,
.selectId:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(25, 229, 35);
}

.selectGenderActive,
.selectIdActiveActive {
    padding: 10px 15px;
    color: black;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    border-radius: 100%;
    background: linear-gradient(rgb(80, 168, 84),rgb(169, 255, 174));
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(25, 229, 35);
}

.title{
    margin: 0;
    font-size: medium;
}

.options {
    color: rgb(206, 194, 157);
    overflow: auto;
    display: none;
}


.optionsActive {
    color: rgb(206, 194, 157);
    overflow: auto;
    padding: 25px 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 130%;
    top: 100%;
    z-index: 900;
}

.option {
    width: 90%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(128, 0, 128),rgb(71, 6, 71));
    padding: 5px 0;
}

.option:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 0, 238);
    transform: scale(1.1);
}

.options p{
    margin: 0;
}

/* Componente Card */

.favContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
