.characters {
    display: grid;
    grid-template-rows: 1fr 185px 2fr;
    width: 270px;
    justify-items: center;
    align-items: center;
    gap: 5%;
    animation: appear 1s ease-in-out ;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.divFav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.fav:hover{
    cursor: pointer;
}

.isNotFav{
    cursor: pointer;
}

.bin{
    transition: .5s;
}

.bin:hover{
    cursor: pointer;
    transform: rotateZ(20deg) scale(1.1);

    transition: .5s;
}

.card {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    perspective: 1000px;
    position: relative;
}

.cardFront{
    border: 1px solid #5bd45b;
    border-radius: 50%;
    transform: rotateY(0deg);
    width: 185px;
    height: 185px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBack {
    background-color:#5bd45b;
    border-radius: 50%;
    transform: rotateY(180deg);
    width: 185px;
    height: 185px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBack ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
    text-align: center;
}

.cardBack a{
    font-size: 12px;
    font-weight: lighter;
    border-radius: 15px;
    color:rgb(241, 207, 167);
    padding: 0 5px;
    text-decoration: none;
    background: linear-gradient(#800080, #470647);
    transition: 0.5s;
}

.cardBack a:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

.card:hover .cardFront {
    transform: rotateY(-180deg);
}

.card:hover .cardBack {
    cursor: context-menu;
    transform: rotateY(0deg);
}

.cardImg {
    width: 100%;
    margin: 0;
    border-radius: 50%;
}

.name{
    color: black;
    font-size: x-large;
    background-color: rgb(91, 212, 91);
    border-radius: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

.name p {
    margin: 10px 20px;
    transition: .5s;
}

.name:hover {
    cursor:pointer;
    animation: newBackground .5s forwards;
}

@keyframes newBackground {
0% {
    opacity: 1;
    background: rgb(91, 212, 91);
}
10%{
    opacity: 0.8;
    background: rgb(91, 212, 91);
}
20%{
    opacity: 0.6;
    background: rgb(91, 212, 91);
}
30%{
    opacity: 0.4;
    background: rgb(91, 212, 91);
}
40%{
    opacity: 0.2;
    background: rgb(91, 212, 91);
}
50%{
    opacity: 0.2;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
60%{
    opacity: 0.4;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
70%{
    opacity: 0.6;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
80%{
    opacity: 0.8;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
100%{
    opacity: 1;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
}

.name:hover p{
    opacity: 0;
    transition: .5s;
}

.plusInfo {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    color:rgb(241, 207, 167);
}

.name:hover .plusInfo{
    opacity: 1;
    transition: 1s;
}

/* APLICANDO MEDIA QUERIES */

@media (min-width: 1500px) {

    .characters{
        width: 300px;
    }
}


@media (max-width: 1250px) {

    .characters {
        width: 225px;
    }

}

@media (max-width: 1000px) {

    .characters {
        width: 31.33%;
    }

}

@media (max-width: 700px) {

    .characters {
        width: 48%;
    }

}

@media (max-width: 450px) {

    .characters{
        width: 100%;
    }

}

@media (max-width: 350px) {

    .characters{
        grid-template-rows: 1fr 120px 2fr;
    }

    .card {
        width: 120px;
        height: 120px;
    }

    .cardFront{
        width: 100%;
        height: 100%;
    }

    .cardBack{
        width: 100%;
        height: 100%;
    }

}