.characters {
    display: grid;
    grid-template-rows: 1fr 185px 2fr;
    width: 25%;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.bin{
    display: grid;
    justify-self: right;
    margin-right: 80px;
}

.bin:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: 500ms;
}

.card {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    perspective: 1000px;
    position: relative;
}

.cardFront{
    border: 1px solid #5bd45b;
    border-radius: 50%;
    transform: rotateY(0deg);
    width: 185px;
    height: 185px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBack {
    background-color:#5bd45b;
    border-radius: 50%;
    transform: rotateY(180deg);
    width: 185px;
    height: 185px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBack ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
    text-align: center;
}

.cardBack a{
    font-size: 12px;
    font-weight: lighter;
    border-radius: 15px;
    color:rgb(241, 207, 167);
    padding: 0 5px;
    text-decoration: none;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}

.cardBack a:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

.card:hover .cardFront {
    transform: rotateY(-180deg);
}

.card:hover .cardBack {
    cursor: context-menu;
    transform: rotateY(0deg);
}

.cardImg {
    width: 100%;
    margin: 0;
    border-radius: 50%;
}

.name{
    color: black;
    font-size: x-large;
    background-color: rgb(91, 212, 91);
    border-radius: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

.name p {
    margin: 10px 20px;
}

.name:hover {
    cursor:pointer;
    animation: newBackground 0.5s forwards;
}
  
@keyframes newBackground {
0% {
    opacity: 0;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
100% {
    opacity: 1;
    background: linear-gradient(rgb(128, 0, 128), rgb(71, 6, 71));
}
}

.name:hover p{
    opacity: 0;
    transition: 1s;
}

.plusInfo {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    color:rgb(241, 207, 167);
}

.name:hover .plusInfo{
    opacity: 1;
    transition: 1s;
}
