.characters {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 5px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
}

.cardFront{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 185px;
    transform: rotateY(0deg);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

.cardBack {
    background-color:#5bd45b;
    border: solid rgb(0, 255, 34);    border-radius: 50%;
    transform: rotateY(180deg);
    width: 185px;
    height: 185px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBack ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    letter-spacing: 1px;
}

.card:hover .cardFront {
    cursor: pointer;
    transform: rotateY(-180deg);
}

.card:hover .cardBack {
    cursor: pointer;
    transform: rotateY(0deg);
}

.cardImg {
    width: 100%;
    border-radius: 50%;
    border: solid rgb(0, 255, 34);
}

.nameAndBin {
    display: flex;
    position: relative;
    margin-top: 5px;
    justify-content: center;
}

.nameAndBin img{
    margin-right: 10px;
}

.linkName{
    color: black;
    background-color: rgb(91, 212, 91);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.linkName:hover {
    cursor: pointer;
    transform: scale(1.2);
    background:linear-gradient(rgb(128, 0, 128),rgb(71, 6, 71));
    transition: 750ms;
    color: white;
}

.linkName p {
    margin: 0;
    visibility: hidden;
}

.linkName:hover p{
    visibility: inherit;
}

.nameAndBin img {
    position: absolute;
    margin-top:-10px;
    right: 0;
}

.nameAndBin img:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: 500ms;
}