.pageDiv {
    display: flex;
    flex-direction: column;
    margin: 0 80px;
    margin-bottom: 50px;
    align-items: center;
    gap: 100px;
}

.title {
    margin: 100px 450px 100px 450px;
    text-align: center;
    border-radius: 10px;
    color: rgb(206, 194, 157);
    font-size: 80px;
    font-weight:lighter;
    background-color: rgba(71, 6, 71, 0.445);
}

.aboutMeDiv {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 120px;
    height: 450px;
    align-items: center;
    justify-items: center;
}

.perfil{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
    border-radius: 50%;
}

.perfilBack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    background:linear-gradient(rgb(117, 0, 117),rgb(71, 6, 71));
    width: 404px;
    height: 404px;
    border-radius: 50%;
    border: solid rgb(192, 0, 150);
}

.perfilBack p{
    line-height: 50%;
    font-size: xx-large;
    letter-spacing: 5px;
    color: rgb(206, 194, 157);
}

.myPhoto {
    transform: rotateY(0deg);
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: solid rgb(192, 0, 150);
}

.perfil:hover .myPhoto {
    transform: rotateY(-180deg);
}

.perfil:hover .perfilBack {
    transform: rotateY(0deg);
}

.initialText {
    display: flex;
    height: 75%;
    align-items: center;
    line-height: 170%;
    border: 5px solid rgb(192, 0, 150);
    border-radius: 15px;
    background:linear-gradient(rgb(117, 0, 117),rgb(71, 6, 71));
}

.initialText p {
    margin: 0 45px;
    color:rgb(241, 207, 167);
    font-size: 21px;
    letter-spacing: 1.4px;
    text-align: center;
}

.cardsDiv {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.infoCards {
    display: flex;
    position: relative;
    border-radius: 15px;
    width: 45%;
    height: 200px;
    background:linear-gradient(rgb(71, 6, 71),rgb(138, 6, 138));
}

.infoCards:hover .frontCards{
    cursor: context-menu;
    opacity: 0;
    transition: 0.5s;
}

.frontCards{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(206, 194, 157);
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 2s;
}

.infoCards:hover .backCards{
    cursor: context-menu;
    opacity: 1;
    transition: 2s;
}

.backCards{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1.5s;
}

.backCards p{
    margin: 0;
    padding: 40px;
    color: rgb(206, 194, 157);
    font-size: 17px;
    line-height: 125%;
}

.backCards img{
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.backCards img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.infoCardsPlus {
    z-index: 900;
    display: flex;
    position: relative;
    border-radius: 15px;
    width: 45%;
    height: 200px;
    transition: 1s;
    background: linear-gradient(rgb(26, 85, 28),rgb(0, 0, 0));
}

.frontCardsPlus {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(206, 194, 157);
    font-size: 30px;
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 3s;
    opacity: 1s;
}

.infoCardsPlus:hover {
    transform-origin: bottom left;
    transform: scaleX(2.07) scaleY(2.2);
    transition: 2s;
    border-radius: 6px;
}

.infoCardsPlus:hover .frontCardsPlus{
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}

.infoCardsPlus:hover .backCardsPlus{
    cursor: context-menu;
    opacity: 1;
    transition: 2s;
}

.backCardsPlus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1.5s;
}

.backCardsPlus p{
    margin: 0;
    padding: 4.5px 20px;
    color: rgb(206, 194, 157);
    font-size: 8px;
    letter-spacing: 0.5px;
    line-height: 120%;
}