.cardsDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;
    row-gap: 50px;
}

.searchBarDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
