.cardsDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;
    row-gap: 50px;
    width: 1200px;
    column-gap: 40px;
}

.searchBarDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* APLICACION DE MEDIA QUERIES */

@media (min-width: 1500px) {

    .cardsDiv{
        width: 1500px;
        column-gap: 100px;
    }
}

@media (max-width: 1250px) {

    .cardsDiv{
        width: 960px;
        column-gap: 20px;
    }
}

@media (max-width: 1000px) {

    .cardsDiv {
        width: 95%;
        column-gap: 3%;
    }

}

@media (max-width: 700px) {

    .cardsDiv {
        width: 85%;
        column-gap: 4%;
    }

}

@media (max-width: 450px) {

    .cardsDiv{
        width: 90%;
    }

    .homePage{
        margin-top: 100px;
    }

}
