.loginForm{
    padding: 20px 20px;
    color: rgb(206, 194, 157);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 110px;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
    padding: 0 10px;
    border-radius: 5px;
}


.input span{
    padding: 3px 8px;
    border-radius: 5px;
    position: absolute;
    font-size: small;
    background-color: rgb(17, 4, 25);
    letter-spacing: 1.1px;
    line-height: 100%;
    top: 62%;
    left: 3%;
}

.okSpan {
    color: greenyellow;
}

.errorSpan{
    font-weight: 900;
    color: red;
}

.input p{
    margin: 0px;
    padding: 3px 8px;
    border-radius: 5px;
    position: absolute;
    font-size: small;
    color: red;
    background-color: rgb(17, 4, 25);
    letter-spacing: 1.1px;
    font-weight: 900;
    line-height: 100%;
    top: 80%;
    left: 3%;
}

.input input{
    background-color: rgb(206, 194, 157);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    font-family: 'Kanit', sans-serif;
    font-size: medium;
}

.input input::placeholder{
    display: grid;
    justify-self: center ;
}

.loginForm button{
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    color: rgb(206, 194, 157);
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: large;
    background-color: rgb(64, 27, 88);
    position: relative;
    overflow: hidden;
    transition: .3s;
    z-index: -2;
}

.loginForm button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.loginForm button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(17, 4, 25), rgb(64, 27, 88)) ;
    transition: width 1s;
    z-index: -1;
}

.loginForm button:hover::before{
    border-radius: 5px;
    transition: width 1.5s;
    width: 200%;
}

@media (max-width: 550px) {
    
    .loginForm{
        padding: 20px 0;
        gap: 5px;
    }

    .input span{
        top: 48%;
        left: 4%;
        font-size: 11px;
    }

    .input p{
        top: 66%;
        left: 4%;
        font-size: 11px;
    }

    .input {
        font-size: 15px;
    }

    .input input {
        font-size: small;
        width: 180px;
        height: 15px;
    }
}

@media (min-width: 2000px) {

    .loginForm{
        letter-spacing: 3px;
    }

    .loginForm{
        gap: 30px;
    }

    .input {
        font-size: 30px;
    }

    .input span{
        top: 75%;
        left: 3%;
        font-size: 15px;
    }

    .input p{
        top: 95%;
        left: 3%;
        font-size: 15px;
    }
}
