.loginForm{
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 30px 20px;
    color: rgb(206, 194, 157);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    z-index: 1000;
}

h2 {
    margin: 0;
}

.registerForm{
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 30px 20px;
    color: rgb(206, 194, 157);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px;
    height: 100px;
    position: relative;
}

.input span{
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    font-size: small;
    color: red;
    background-color: rgb(17, 4, 25);
    letter-spacing: 1px;
    line-height: 100%;
    top: 70%;
    left: 5%;
}

.input input{
    background-color: rgb(206, 194, 157);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
    font-family: 'Kanit', sans-serif;
    font-size: medium;
}

.input input::placeholder{
    display: grid;
    justify-self: center ;
}

button{
    border: 1px solid rgb(206, 194, 157);
    border-radius: 5px;
    padding: 5px 30px;
    color: rgb(206, 194, 157);
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: large;
    background-color: rgb(64, 27, 88);
    position: relative;
    overflow: hidden;
    transition: .3s;
    z-index: -2;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(17, 4, 25), rgb(17, 4, 25), rgb(17, 4, 25), rgb(64, 27, 88)) ;
    transition: width .8s ;
    z-index: -1;
}

button:hover::before{
    border-radius: 5px;
    width: 90%;
}

button:active::before{
    width: 100%;
}