.navBar {
    top: 1%;
    display: grid;
    grid-template-columns: 4fr 2fr 0.5fr;
    justify-items: center;
    align-items: center;
    align-self: center;
    background: linear-gradient(#a9ffae, rgba(145, 240, 150, 0.612));
    width: 99%;
    position: fixed;
    z-index: 1000;
}

.navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}



.navLink {
    padding: 0 8px;
    font-weight: 700;
    color: black;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(rgb(145, 240, 150),rgb(169, 255, 174));
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
 .navLink:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
 }

.title {
    margin: 10px;
    font-size: 35px;
}

.optionsDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.options{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.optionsActive{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 1s;
}

.optionsActive:hover{
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}

.optionsActive:hover .options{
    opacity: 0;
    
}